<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Files</title>

</head>
<body>
{% if files %}
    <h2>My uploaded files:</h2>
    {% for file in files %}
        <form action="{% url 'index'%}share/{{ file.file_name }}/" method="post">
        {% csrf_token %}
        <a href="{{ file.file.url }}">{{file.file_name}}</a>
        <input type="text" placeholder="Username" name="username" required>
        <input type="submit" value="Share">
        </form>
        <br>
    {% endfor %}
{% else %}
    No files yet
{% endif %}


</body>
</html>