<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        a {
            padding:10px 40px 10px 3px;
        }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>My Files</title>

</head>
<body>
<a href="{% url 'upload' %}">Upload a file</a>
<a href="{% url 'logout' %}">Log out</a>


{% if files %}
    <h4>My uploaded files:</h4>
    {% for file in files %}
        <a href="{%  url 'view' file.file_name %}">{{file.file_name}}</a>

        <br>
    {% endfor %}

{% endif %}

{% if shared_with_me %}
<h4>Shared with me:</h4>
    {% for file in shared_with_me %}
        <a href="{%  url 'view' file.file_name %}">{{file.file_name}}</a>
        <br>
    {% endfor %}
{% endif %}


</body>
</html>